# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("SSUET", 3, 3.5, False)

SSUET 3 3.5 False

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("SSUET", 3, 3.5, False,sep='-')

SSUET-3-3.5-False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
# type your code here
print("SSUET",end=' ')
print(3,end=' ')
print(3.5,end=' ')
print(True)

SSUET 3 3.5 True

4) Can a python print function take no value to print???

In [6]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [9]:
#type your code here
friend_name = "Ahmed"
age  = 30
profession = "lawer"
degree = "bachelors in law"
passing_year = 2005
firm  = "The Himalya Associates"
firm_location = "Karachi"
firm_joining_year = 2015
height_ft = 5.10
weight_g = 70600
monthly_income_pkr = 200000
is_handsome = True

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [8]:
#type your code here 
current_year = 2023
print(f"{current_year-passing_year} years has been to Mr. Ahmed after his bachelors degree")

18 years has been to Mr. Ahmed after his bachelors degree

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [14]:
#type your code here 
# print(f"{current_year-firm_joining_year} years has been Mr. Ahmed working with law firm 'The Himalya Associates'")
print(f"{current_year-firm_joining_year} years has Mr. Ahmed been working with law firm \"The Himalya Associates\"")

8 years has Mr. Ahmed been working with law firm "The Himalya Associates"

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [19]:
#type your code here 
monthly_income_usd = monthly_income_pkr/285

print(monthly_income_usd)

print(round(monthly_income_usd,2))



import math 
print(math.ceil(monthly_income_usd))
print(math.floor(monthly_income_usd))

701.7543859649123
701.75
702
701

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [23]:
#type your code here 
print(type(monthly_income_usd))
print(type(int(monthly_income_usd)))

<class 'float'>
<class 'int'>

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [27]:
#type your code here 
print(weight_g)
print(type(weight_g))
weight_kg = weight_g//1000
weight_kg

70600
<class 'int'>

70

11) print the year of birth of Mr. Ahmed.

In [30]:
#type your code here
birth_year = current_year-age
birth_year

1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [32]:
#type your code here 
100%6

4

In [33]:
name = "Nasir Hussain"
city = "Karachi"

In [40]:
name
print(city)

city